body
{
	background-color: #008882;
	font-family: 'Amiri', 'Times New Roman', sans-serif;
	color: #FFFFF0;
	text-decoration-color: #fff;
	font-size: 1em;
	margin: auto;
}

a
{
	color: #fffb00;
}

h1
{
	font-family: 'Tangerine', cursive;
	font-size: 3em;
}

h3
{
	font-family: 'Ribeye Marrow', cursive;
	font-size: 1.2em;
}

h4
{
	font-family: 'Ribeye Marrow', cursive;
	font-size: 1.1em;
}

header a
{
	font-size: 0.8em;
}

nav a
{
	font-size: 0.8em;
}

#download
{
	font-size: 0.8em;	
}

a:hover
{
	color: #FFFFF0;
}

ul
{
	list-style-type: none;
}

#pictCV
{
	width: 17em;
	display: flex;
	margin-top: 8em;
}

#pictFR
{
	width: 5em;
	display: flex;
	margin-right: 0.1em;
}

#pictEN
{
	width: 5em;
	display: flex;
	margin-right: 0.1em;
}

@keyframes slidy
{
	0% {left: 0%;}
	15% {left: 0%;}
	20% {left: -100%;}
	35% {left: -100%;}
	40% {left: -200%;}
	55% {left: -200%;}
	60% {left: -300%;}
	75% {left: -300%;}
	80% {left: -400%;}
	95% {left: -400%;}
	100% {left: -500%;}
	115% {left: -500%;}
	120% {left: -600%;}
	135% {left: -600%;}
}

#slider
{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

#slider figure img
{
	float: left;
}

#slider figure
{
    margin: 0px;
    padding: 0px;
    position: relative;
    animation: 35s slidy infinite;
    transition: left 2s;
    display: inline-flex;
}

#icônemail
{
	width: 2.5em;
	display: inline-flex;
}

#icôneappel
{
	width: 2em;
	display: inline-flex;
}

#icônedownload
{
	width: 1.8em;
	display: inline-flex;
}

.menu-container
{
	display: flex;
	margin-left: 8em;
	margin-bottom: 5em;
}

#title
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 8em;
	margin-left: 4em;
	margin-right: 8em;
	border-bottom: 0.1em solid;
}

#titleaside
{
	display: flex;
	justify-content: center;
}

#infosaside
{
	display: flex;
	margin-left: 4em;
	margin-right: 8em;
	border-left: 0.1em solid;
	border-right: 0.1em solid;
	border-bottom: 0.1em solid;
	padding: 1em 3.5em 1em 3.5em;
	text-align: justify;
}

#foreignnav
{
	display: flex;
	justify-content: center;
	border-top: 0.25em solid;
	border-bottom: 0.25em solid;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 4em;
	margin-right: 4em;
}

#pictnav
{
	display: flex;
	margin-left: 2em;
}

#foreignversion
{
	display: flex;
	margin: 1em;
	margin-right: 4em;
}

#nav ul
{
	display: flex;
	justify-content: center;
	/*margin-top: -6em;
	margin-bottom: 4em;*/
}

#nav li
{
	display: flex;
	margin: 3em;
	font-size: 1em;
}

#textsection
{
	display: flex;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 4em;
	border: 0.1em solid;
	justify-content: center;
}

#textsection li
{
	margin-left: -1em;
}

#asidesection
{
	border-left: 0.1em solid;
	padding: 4em 4em 0em 4em;
}

#mainsection
{
	padding: 4em 4em 4em 4em;
}

footer
{
	border-top: 0.2em solid;
	margin-left: 4em;
	margin-right: 4em;
}

footer h4
{
	margin-bottom: -1em;
}

footer img
{
	margin-left: -2em;
	margin-right: 1em;
}

#contactcontent
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 1em 1em 1em;
}

footer nav
{
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 7em;
}